<div class="create col-md-5 pull-right">
    <button type="button" class="btn btn-primary btn-sm" onclick="javascript:window.location='/lab/create/'">Add New Lab</button>
    <button type="button" class="btn btn-success btn-sm" onclick="javascript:window.location='/project/create/'">Add New Project</button>
    <button type="button" class="btn btn-info btn-sm" onclick="javascript:window.location='/event/create/'">Add New Event</button>
    <button type="button" class="btn btn-warning btn-sm" onclick="javascript:window.location='/event/equipment/'">Add New Equipment</button>
</div>