		/*this is the css for the vertical version*/
		.vertical ul{
			list-style-type: none;
			padding: 0px;
			border-top: 1px solid #50575c;
			width: 199px;	
		}
		.vertical li a{
			display: block;
			width: 195px;
			text-decoration: none;
			height: auto;
			padding: .2em 1px;
			border: 1px solid;
			border-top: 0px;
			
		}
		.vertical li{
			/*Needed for IE. Don't ask me why, It was a lucky guess.*/
			display: inline;
		}
		.vertical li ul{
			position: absolute;
			margin-top: -2.3em;
			margin-left: 199px;
		}
 
		/*This section makes the menu not work in non-javascript enabled browsers by not showing the menu by default-This can be worked around by making top level links point to a sitemap*/
		/*Not sure if I recommend this or not*/
		.inaccesible li ul{
			display: none;
		}
		/*Arrow code - looks like <a class="haschild" href="#">Text <span>Arrow</span></a> can be turned on/off with arrow class*/
		.arrow a span{
		padding-left: 1em;
		font-size: 85%;  
		}
		.arrow a:hover span{
		padding-left: 2em;
		}
		.arrow a span.noshow{
			visibility: hidden;
		}
		/*Plus code*/
		.plus a span{
			padding-left: .5em;
		}
		/*colors for menu*/
		.blackwhite li a{
			 background-color: #E1E2E6;
			color: black;
			border-color: #50575c;
		}
		.blackwhite li a:hover{
			background-color: #000000;
			color: white;
	 
		}	 