{% extends "base_inner.html" %}
{% block content %}
<!-- Middle content start here -->
<div class="container">
  <div class="row">
    <div class="login_left col-sm-6 col-md-8">
      <div class="row">
        <div class="col-md-8">
          <div class="login-heading">
            <h1>Forgot password</h1>
          </div>
        </div>
        <div class="login-rt_txt col-md-4 pull-right">
          <p>You must fill the<span>*</span> required fields</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="login_sec">
        <p>Please enter email address.</p>
        <p id="flush_message" class="label label-success" style="margin:5px;">{{ flush_message }}</p>
        <form role="form" class="form-horizontal" method="post" action="/accounts/forgot-password/" name="forgot_password_request" id="forgot_password_request">
          {% csrf_token %}

          <div class="form-group">
            <label for="inputEmail3" class="col-md-2 col-sm-3 control-label">Email:-</label>
            <div class="col-md-10 col-sm-9">
              <span class="label label-danger" id="error_email"></span>
                {{ form.email }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10 col-sm-9 col-sm-offset-3 ">
              <div class="checkbox">
                <a href="/accounts/login" class="pull-right">Login</a> </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10 col-sm-offset-3">
              <span id="btn_submit"><button type="submit" class="btn btn-success">Submit</button></span>
              <span><button type="button" class="btn btn-primary">Cancel</button></span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="feature_right col-sm-6 col-md-4">
      <div class="feature">
        <h1>Featured</h1>
      </div>
      <div class="feature_sec">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Laboratories</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Projects</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Events</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="button"><a href="#">Click Here for Check</a></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="button"><a href="#">Click Here for Check</a></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="messages">
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="/static/images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="button"><a href="#">Click Here for Check</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="follow_us">
        <div class="clearfix">
          <div class="login-heading">
            <h1>Follow us</h1>
          </div>
        </div>
        <div class="login_sec col-md-12">
          <h3>Connect with us on a Social Network and get the letest news and updates</h3>
          <ul>
            <li class="fb"><a href="#"></a></li>
            <li class="tw"><a href="#"></a></li>
            <li class="blog"><a href="#"></a></li>
            <li class="redit"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}