{% extends "base.html" %}
{% block content %}
<!-- Middle content start here -->
<div class="container">
  <div class="row">
    <div class="login_left col-sm-6 col-md-8">
      <div class="box">
        <div class="row">
          <div class="col-md-8">
            <div class="login-heading">
              <h1>Feature events</h1>
            </div>
          </div>
        </div>
        <div class="login_sec">
          <p><strong class="free">Faraday Finder: Events</strong><br>
            Faraday Finder sponsors scientific events
            around the globe. Ticketed and non-ticketed
            conferences, symposiums and other events
            can be run by individual host laboratories. Explore
            scientific events in your area! <a href="#">Learn More</a></p>
          <div id="owl-demo" class="owl-carousel">
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="row">
          <div class="col-md-8">
            <div class="login-heading">
              <h1>Feature Projects</h1>
            </div>
          </div>
        </div>
        <div class="login_sec">
          <p><strong class="free">Faraday Finder: Events</strong><br>
            Faraday Finder sponsors scientific events
            around the globe. Ticketed and non-ticketed
            conferences, symposiums and other events
            can be run by individual host laboratories. Explore
            scientific events in your area! <a href="#">Learn More</a></p>
          <div id="owl-example" class="owl-carousel">
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
            <div class="item"><img src="/static/images/about-slide2.jpg" alt="">
              <div class="img_hover_content">
                <p>experience NASA\'s Green Lab Research Facility</p>
                <button type="button" class="btn btn-primary">View More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature_right col-sm-6 col-md-4">
      <div class="follow_us">
        <div class="clearfix">
          <div class="login-heading">
            <h1>who are we?</h1>
          </div>
        </div>
        <div class="login_sec col-md-12">
          <p><strong class="free">About Faraday Finder</strong><br>
            FaradayFinder is a social network for 
            scientific research labratories inspired by the 
            genius of the physicist Michael Faraday. Faraday 
            Finder’s mission is to find and bring together the 
            great minds of our time towards an accelerated
            exploration of the universe. Together we will see
            the unseen, find the unfound and make the world a 
            better place through reson and the scientific method <a href="#">Learn More</a></p>
          <br>
          <p><strong class="free">Faraday Finder: Community</strong><br>
          <div class="row">
            <div class="col-md-12 who_link">
              <h4><span>5 </span>LABORATORIES</h4>
              <h4><span>4</span> PROJECTS</h4>
              <h4><span>5</span> EVENTS</h4>
              </ol>
            </div>
          </div>
        </div>
        <div class="login_sec col-md-12">
          <p><strong class="free">Who is Michael Faraday?</strong><br>
          <div class="col-md-6"><img src="/static/images/friaday.png" alt="" class="img-circle"></div>
          Faraday Finder sponsors scientific events
          around the globe. Ticketed and non-ticketed
          conferences, symposiums and other events
          can be run by individual host laboratories. Explore
          scientific events in your area! </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}