<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/fav_icon.png">
<title>:: welcome | FaradayFinder ::</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<!-- Bootstrap theme -->
<!-- Custom styles for this template -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>s
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="clearfix inner-header">
  <nav class="navbar navbar-default top_menu">
    <div class="container relative">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">blog</a></li>
          <li><a href="#">about us</a></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">faq</a></li>
          <li><a href="#">sell tickets</a></li>
        </ul>
      </div>
      <div class="social_links pull-right">
        <ul>
          <li><a href="#"><img src="images/fb.png" alt=""></a></li>
          <li><a href="#"><img src="images/twitter.png" alt=""></a></li>
          <li><a href="#"><img src="images/blloger.png" alt=""></a></li>
          <li><a href="#"><img src="images/reddit.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="faraday_slideshow">
    <div class="container">
      <nav class="navbar navbar-main menu">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">home<span class="sr-only">(current)</span></a></li>
              <li><a href="#">labs</a></li>
              <li><a href="#">projects</a></li>
              <li><a href="#">events</a></li>
              <li><a href="#">equipment</a></li>
              <li><a href="#">discussion boards</a></li>
            </ul>
            <div class="login_panel col-md-4 pull-right">
        <div  class="login-text"> <span><a>Register Now</a></span> &nbsp;&nbsp;&nbsp;&nbsp;<span><a>Login</a></span> </div>

      </div>
          </div>
          
        </div>
      </nav>
      <div class="accor_autor">
        <ul class="accord topnav">
          <li><a class="current" href="#">Menu</a>
            <ul>
              <li><a href="#">labs</a></li>
              <li><a href="#">projects</a></li>
              <li><a href="#">events</a></li>
              <li><a href="#">equipment</a></li>
              <li><a href="#">discussion boards</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
      
      
    </div>
  </div>
</header>
<!-- Middle content start here -->
<div class="container">
  <div class="row">
    <div class="login_left col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-7">
          <div class="login-heading">
            <h1>My Account</h1>
          </div>
        </div>
        <div class="create col-md-5 pull-right"> <a href="#">Create New Event</a> <a href="#">Create New Lab</a> <a href="#">Create New Projects</a> </div>
      </div>
      <div class="login_sec">
        <div class="row">
          <div class="col-md-12">
            <div class="my_profile my_ac_text col-md-4 col-sm-4 ">
              <div class="profile_img col-md-6 row"> <img src="images/user_pic.png" alt="" width="100px"><a href="#">Upload Photo</a> </div>
              <div class="pro-text col-md-6">
                <h3>Ashok Jangid<br>
                </h3>
                <span>Born on: NA</span> </div>
              <div class="profile_links col-md-12 col-sm-12 row">
                <ul>
                  <li><a href="#">Overview</a></li>
                  <li><a href="#">My Labs</a></li>
                  <li><a href="#">Manage Jobs</a></li>
                  <li><a href="#">My Events</a></li>
                  <li><a href="#">My Projects</a></li>
                  <li><a href="#">Edit My Profile </a></li>
                  <li><a href="#">My Researchs</a></li>
                  <li><a href="#">My Favorite</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-8 col-sm-8 pull-right">
              <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">events i have joined</a></li>
                  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">events created by me</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="row tab-bottom-sap">
                      <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                      <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                        <h2>Sin City Laboratorie..</h2>
                        <p>10636 arundel avelas vages, navada USA 89135</p>
                        <a href="#">Read More</a> </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="profile">
                    <div class="row tab-bottom-sap">
                      <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                      <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                        <h2>Laboratorie..</h2>
                        <p>10636 arundel avelas vages, navada USA 89135</p>
                        <a href="#">Read More</a> </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="messages">
                    <div class="row tab-bottom-sap">
                      <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                      <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                        <h2>Sin City Laboratorie..</h2>
                        <p>10636 arundel avelas vages, navada USA 89135</p>
                        <a href="#">Read More</a> </div>
                    </div>
                    <div class="row tab-bottom-sap">
                      <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                      <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                        <h2>Sin City Laboratorie..</h2>
                        <p>10636 arundel avelas vages, navada USA 89135</p>
                        <a href="#">Read More</a> </div>
                    </div>
                    <div class="row tab-bottom-sap">
                      <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                      <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                        <h2>Sin City Laboratorie..</h2>
                        <p>10636 arundel avelas vages, navada USA 89135</p>
                        <a href="#">Read More</a> </div>
                    </div>
                    <div class="row tab-bottom-sap">
                      <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                      <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                        <h2>Sin City Laboratorie..</h2>
                        <p>10636 arundel avelas vages, navada USA 89135</p>
                        <a href="#">Read More</a> </div>
                    </div>
                    <div class="row tab-bottom-sap">
                      <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                      <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                        <h2>Sin City Laboratorie..</h2>
                        <p>10636 arundel avelas vages, navada USA 89135</p>
                        <a href="#">Read More</a> </div>
                    </div>
                    <div class="row tab-bottom-sap">
                      <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                      <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                        <h2>Sin City Laboratorie..</h2>
                        <p>10636 arundel avelas vages, navada USA 89135</p>
                        <a href="#">Read More</a> </div>
                    </div>
                    <div class="button"><a href="#">Click Here for Check</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="foot_links col-md-12">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Labs</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Discussion Board</a></li>
        </ul>
      </div>
      <div class="copyright col-md-12"> <span>&copy; 2015 Farady Finder All Right Reserved</span> </div>
    </div>
  </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-1.6.1.min.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script type="text/javascript" src="js/scriptbreaker-multiple-accordion-1.js"></script>
<script>
    
     jQuery(document).ready(function() {
     
	    jQuery(".accord").accordion({

        accordion:true,
        speed: 500,
        closedSign: '<img src="images/bullet_toggle_plus.png" alt="" />',
        openedSign: '<img src="images/bullet_toggle_minus.png"  alt="" />'

    });
	
	
	   
      jQuery("ul.topnav li a.current span:first-child").addClass("main");})
	  
    </script>
</body>
</html>
