<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/fav_icon.png">
<title>:: welcome | FaradayFinder ::</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<!-- Bootstrap theme -->
<!-- Custom styles for this template -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>s
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="clearfix inner-header">
  <nav class="navbar navbar-default top_menu">
    <div class="container relative">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">blog</a></li>
          <li><a href="#">about us</a></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">faq</a></li>
          <li><a href="#">sell tickets</a></li>
        </ul>
      </div>
      <div class="social_links pull-right">
        <ul>
          <li><a href="#"><img src="images/fb.png" alt=""></a></li>
          <li><a href="#"><img src="images/twitter.png" alt=""></a></li>
          <li><a href="#"><img src="images/blloger.png" alt=""></a></li>
          <li><a href="#"><img src="images/reddit.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="faraday_slideshow">
    <div class="container">
      <nav class="navbar navbar-main menu">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">home<span class="sr-only">(current)</span></a></li>
              <li><a href="#">labs</a></li>
              <li><a href="#">projects</a></li>
              <li><a href="#">events</a></li>
              <li><a href="#">equipment</a></li>
              <li><a href="#">discussion boards</a></li>
            </ul>
            <div class="login_panel col-md-4 pull-right">
        <div  class="login-text"> <span><a>Register Now</a></span> &nbsp;&nbsp;&nbsp;&nbsp;<span><a>Login</a></span> </div>

      </div>
          </div>
          
        </div>
      </nav>
      <div class="accor_autor">
        <ul class="accord topnav">
          <li><a class="current" href="#">Menu</a>
            <ul>
              <li><a href="#">labs</a></li>
              <li><a href="#">projects</a></li>
              <li><a href="#">events</a></li>
              <li><a href="#">equipment</a></li>
              <li><a href="#">discussion boards</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
      
      
    </div>
  </div>
</header>


<!-- Middle content start here -->
<div class="container">
  <div class="row">
    <div class=" col-sm-6 col-md-8">
      <div class="follow_us margin-top20 clearfix">
        <div class="clearfix">
          <div class="login-heading">
            <h1>search faraday finder</h1>
          </div>
        </div>
        <div class="search-filter col-md-12">
          <div class="col-md-12 frad_bg">
            <div class="col-md-8 col-sm-12 search_frd pull-right">
              <select class="form-control">
                <option>Name</option>
                <option>City</option>
                <option>Country</option>
                <option>Date</option>
                <option>State</option>
                <option>Zipcode</option>
              </select>
              <div class="radio">
                <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Asc </label>
                <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Desc </label>
              </div>
              <input type="text" class="form-control" placeholder="enter your keyword ">
              <p class="pad-top10">Browse By:-</p>
              <a href="#">A</a> <a href="#">B</a> <a href="#">C</a> <a href="#">D</a> <a href="#">E</a> <a href="#">F</a> <a href="#">G</a> <a href="#">H</a> <a href="#">I</a> <a href="#">J</a> <a href="#">K</a> <a href="#">L</a> <a href="#">M</a> <a href="#">N</a> <a href="#">O</a> <a href="#">P</a> <a href="#">Q</a> <a href="#">R</a> <a href="#">S</a> <a href="#">T</a> <a href="#">U</a> <a href="#">V</a> <a href="#">W</a> <a href="#">X</a> <a href="#">Y</a> <a href="#">Z</a> <br>
              <br>
              <button type="button" class="btn btn-primary">Refine Your Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="feature_right">
        <div class="feature">
          <h1>search result</h1>
        </div>
        <div class="feature_sec">
          <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#laboratories" aria-controls="home" role="tab" data-toggle="tab">Laboratories</a></li>
              <li role="presentation"><a href="#projects" aria-controls="profile" role="tab" data-toggle="tab">Projects</a></li>
              <li role="presentation"><a href="#events" aria-controls="messages" role="tab" data-toggle="tab">Events</a></li>
              <li role="presentation"><a href="#equipments" aria-controls="messages" role="tab" data-toggle="tab">Equipments</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="laboratories">
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Bioenergy Plantations Australia</a></h2>
                    <p>2 Member
                      PO Box 1127 Caboolture QLD, Australia  4510</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Garavity Research Lab</a></h2>
                    <p>1 Member
                      Katherine Haak UCSD / IGPP - 0225 9500 Gilman Drive La Jolla Haak Haak, CA  231029313</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Nanotechnology Research Instuite</a></h2>
                    <p>1 Member
                      AB-16,Velly Extension,MEHANDI KA BASS,AMBER Newyork Rajasthan, India  13213213</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Sin City Laboratorie..</a></h2>
                    <p>1 Member
                      10636 Arundel Ave. Las Vegas Nevada, USA  89135</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Solar Energy Research Lab</a></h2>
                    <p>1 Member
                      Plot No. 44, Hindustan Estates, Road No. 2, Kalyani Nagar, Pune 411 006. , Pune, Maharashtra India Pune Maharashtrausa, India  411006</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Sin City Laboratorie..</a></h2>
                    <p>10636 arundel avelas vages, navada USA 89135</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="projects">
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">600 MW solar power projects dedicated to nation</a></h2>
                    <p>0 Member
                      1156 High Street Santa Cruz CA, USA  95064</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">An Improved Sliding Mode Controller for Boost Conv..</a></h2>
                    <p>10636 arundel avelas vages, navada USA 89135</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Centre for NanoScience and NanoTechnology</a></h2>
                    <p>0 Member
                      1156 High Street Santa Cruz CA, USA  95064</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">The Project on Emerging Nanotechnologies is a prog..</a></h2>
                    <p>10636 arundel avelas vages, navada USA 89135</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Sin City Laboratorie..</a></h2>
                    <p>10636 arundel avelas vages, navada USA 89135</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="events">
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Experience NASA\'s Green Lab Research Facility</a></h2>
                    <p>0 Member
                      3275 W. McCollister Dr. St. 201 Shipping Address: P.O. Box 352 Teton Village WY WY, USA  83025</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">microprocessor symposium</a></h2>
                    <p>1 Member 10636 Arundel Ave. Las Vegas Nevada, USA  89135</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Nanotechnology Research Event</a></h2>
                    <p>2 Member
                      1156 High Street Canberra City NY, USA  95064</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">Solstis, spin-off LESO-PB/EPFL</a></h2>
                    <p>0 Member
                      35 W 4th St Room 610 Santa Cruz WY, Australia  10003</p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <ul class="pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="equipments">
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">!! LMFAO Comedy Night with VIJAI NATHAN !! ~ Also FEATURING: Ir...</a></h2>
                    <p>10 Member
                      DIYA Banquet Hall 2070 Chain Bridge Road Vienna, VA 22182 </p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">!! LMFAO Comedy Night with VIJAI NATHAN !! ~ Also FEATURING: Ir...</a></h2>
                    <p>10 Member
                      DIYA Banquet Hall 2070 Chain Bridge Road Vienna, VA 22182 </p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">!! LMFAO Comedy Night with VIJAI NATHAN !! ~ Also FEATURING: Ir...</a></h2>
                    <p>10 Member
                      DIYA Banquet Hall 2070 Chain Bridge Road Vienna, VA 22182 </p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">!! LMFAO Comedy Night with VIJAI NATHAN !! ~ Also FEATURING: Ir...</a></h2>
                    <p>10 Member
                      DIYA Banquet Hall 2070 Chain Bridge Road Vienna, VA 22182 </p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">!! LMFAO Comedy Night with VIJAI NATHAN !! ~ Also FEATURING: Ir...</a></h2>
                    <p>10 Member
                      DIYA Banquet Hall 2070 Chain Bridge Road Vienna, VA 22182 </p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
                <div class="row tab-bottom-sap">
                  <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                  <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                    <h2><a href="#">!! LMFAO Comedy Night with VIJAI NATHAN !! ~ Also FEATURING: Ir...</a></h2>
                    <p>10 Member
                      DIYA Banquet Hall 2070 Chain Bridge Road Vienna, VA 22182 </p>
                    <a href="#">Read More</a> <br>
                    <br>
                    <a href="#"  class="pull-right"><img src="images/join_us.jpg" alt=""></a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="feature_right col-sm-6 col-md-4">
      <div class="feature">
        <h1>Featured</h1>
      </div>
      <div class="feature_sec">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Laboratories</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Projects</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Events</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="button"><a href="#">Click Here for Check</a></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="button"><a href="#">Click Here for Check</a></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="messages">
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="row tab-bottom-sap">
                <div class="col-md-3 col-sm-3 col-xs-3 thumb-sml"><img src="images/event_pic.png" alt="..." class="img-thumbnail"></div>
                <div class="col-md-9 col-sm-9 col-xs-9 tab-text">
                  <h2>Sin City Laboratorie..</h2>
                  <p>10636 arundel avelas vages, navada USA 89135</p>
                  <a href="#">Read More</a> </div>
              </div>
              <div class="button"><a href="#">Click Here for Check</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="follow_us">
        <div class="clearfix">
          <div class="login-heading">
            <h1>Follow us</h1>
          </div>
        </div>
        <div class="login_sec col-md-12">
          <h3>Connect with us on a Social Network and get the letest news and updates</h3>
          <ul>
            <li class="fb"><a href="#"></a></li>
            <li class="tw"><a href="#"></a></li>
            <li class="blog"><a href="#"></a></li>
            <li class="redit"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="foot_links col-md-12">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Labs</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Discussion Board</a></li>
        </ul>
      </div>
      <div class="copyright col-md-12"> <span>&copy; 2015 Farady Finder All Right Reserved</span> </div>
    </div>
  </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-1.6.1.min.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script type="text/javascript" src="js/scriptbreaker-multiple-accordion-1.js"></script>
<script>
    
     jQuery(document).ready(function() {
     
	    jQuery(".accord").accordion({

        accordion:true,
        speed: 500,
        closedSign: '<img src="images/bullet_toggle_plus.png" alt="" />',
        openedSign: '<img src="images/bullet_toggle_minus.png"  alt="" />'

    });
	
	
	   
      jQuery("ul.topnav li a.current span:first-child").addClass("main");})
	  
    </script>
</body>
</html>
