{% extends "o/base.html" %}
{% block content %}
<div class="content_outer">

<div class="entry_title"><h1><span>About Us</span></h1></div>

<div class="common_block">
<!--top corner-->
<div class="top_corner"><span></span></div>
<!--top corner-->

<div class="box_mid_container">
<div class="clear">

<div class="services_slideshow">
<img alt="Service Slide" src="/static/images/about-slide.png"  id="slide1"  style="display:block;">
<img alt="Service Slide" src="/static/images/about-slide1.png"  id="slide1"  style="display:none;">
<img alt="Service Slide" src="/static/images/about-slide2.png"  id="slide1"  style="display:none;">
<img alt="Service Slide" src="/static/images/about-slide3.png"  id="slide1"  style="display:none;">

<ul class="slidepageing">
<li  class="active"><a href="javascript:void(0);"></a></li>
<li><a href="javascript:void(0);"></a></li>
<li><a href="javascript:void(0);"></a></li>
<li><a href="javascript:void(0);"></a></li>
</ul>


</div>
<h2>Welcome to Faraday Finder</h2>
<p>Faraday Finder intends to conglomerate a vast number of research laboratories from university, public and industrial institutions. Searchable laboratory databases enable time efficiency improvements for prospective students at all levels of education looking for a lab. Additionally, Faraday Finder solidifies individual and lab identity while enhancing inter and intralaboratorial communication and collaboration on a web platform.</p>
<p>For more information about Michael Faraday see his wiki:<span style="color: rgb(0, 0, 255);">&nbsp;<a href="http://en.wikipedia.org/wiki/Michael_Faraday"><span style="color: rgb(0, 0, 255);">en.wikipedia.org/wiki/Michael_Faraday</span></a></span></p></div>

<div class="collapsmain active">
<h2>Faraday Finder Mission</h2>
<p>tem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi ne, cidunt ut  tem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi ne, cidunt ut tem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi ne, cidunt ut
</p>

</div>
<div class="collapsmain ">
<h2>Faraday Finder Mission</h2>
</div>
<div class="collapsmain ">
<h2>Faraday Finder Mission</h2>
</div>
<div class="collapsmain ">
<h2>Faraday Finder Mission</h2>
</div>
<div class="collapsmain ">
<h2>Faraday Finder Mission</h2>
</div>
<div class="collapsmain ">
<h2>Faraday Finder Mission</h2>
</div>




</div>

<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>

</div>
{% endblock %}
{% block sidebar %}{% endblock %}