{% extends "o/base.html" %}
{% block content %}
<div class="content_outer">

<div class="entry_title"><h1><span>Change Password</span></h1>


</div>


<div class="common_block">
<!--top corner-->
 <div class="top_corner"><span></span></div>
<!--top corner-->

<div class="box_mid_container">
<div class="clear">
{% include "o/include/left_sidebar.html" %}


<div class="pic_right_block">
<div class=" tab">
<div class="product_tab">
<ul>

<li><a href="/accounts/change-password">edit profile</a></li>
<li ><a href="/accounts/edit-network" style="text-decoration: underline">edit network </a></li>
<li  class="active"><a href="javascript:void(0);" style="text-decoration: underline">change password</a></li>
</ul>

</div>

   {% include "o/include/dashboard_menu.html" %}
</div>



<form role="form" class="row" name="form_change_password" id="form_change_password" method="post">
{% csrf_token %}
<div class="info_block">
<div class="Redcolor" style="padding:10px 0 10px 5px;">
    <span id="error_password" class="Redcolor"></span>
    <span id="error_new_password" class="Redcolor"></span>
    <span id="error_confirm_new_password" class="Redcolor"></span>
    <span id="flush_password" style="color: green; font-weight: bold; font-size: 12px;"></span>
</div>
<h1>Change your password</h1>


<div class=" from_block">
<div class="from_action">
<label>Current Password</label>
{{ form.password }}
</div>
</div>

<div class=" from_block">
<div class="from_action">
<label>New Password</label>
{{ form.new_password }}
</div>
</div>

<div class=" from_block">
<div class="from_action">
<label>Confirm New Password</label>
{{ form.confirm_new_password }}
</div>
</div>


</div>



<div class="info_block">



<div class="pad_t10"  id="btn_change_password_submit">
<input type="submit" class="bluebutton" value="Submit"/>
</div>

</div>
</form>
</div>
</div>
</div>
<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>

</div>
<!--featured events-->
{% endblock %}
{% block sidebar %}{% endblock %}