{% extends "o/base.html" %}
{% block content %}
<div class="content_outer">

<div class="entry_title"><h1><span>frequently asked questions</span></h1></div>

<div class="common_block">
<!--top corner-->
<div class="top_corner"><span></span></div>
<!--top corner-->

<div class="box_mid_container">
<div class="clear">

<h2>Most frequently asked question(FAQ)</h2></div>

<div class="Faq1">

    <div class="collapsmain imgdrop active" id="i1" alt="Image"  >
    <h2>Basics of Member Registration</h2>
    </div>
	<div id="uppi1" class="Text1" style="padding-bottom:8px; display: block; float:left;width:100%;"">
	<table cellpadding="7" cellspacing="7" border="0" style="width:100%;">
	<tr style="background:#F3F3F3;"><td style="line-height:20px;">
	<strong>Question 1</strong> : Is the registration is free?</td></tr>

	<tr><td style="line-height:20px;">
	<strong>Answer </strong> : Yes,It is totally free right now and very simple to do.</td></tr>

	<tr style="background:#F3F3F3;"><td style="line-height:20px;">
	<strong>Question 2</strong> : How much lab and project can a member add?</td></tr>

	<tr><td style="line-height:20px;">
	<strong>Answer </strong> : User can add lab and projects as much as he can,we just want to make help all the people who are researching in the same field.</td></tr>

	<tr style="background:#F3F3F3;"><td style="line-height:20px;">
	<strong>Question 3</strong> : How faradayfinder help a user?</td></tr>

	<tr><td style="line-height:20px;">
	<strong>Answer </strong> : User can register and can view the public profile of lab and he can also join and see all the activities of a lab.</td></tr>
	</table>
	</div>
</div>
<div class="Faq6">

    <div class="collapsmain imgdrop " id="i2" alt="Image"  >
    <h2>Basic of lab and equipments</h2>
    </div>
	<div id="uppi2" class="Text1" style="padding-bottom:8px; display: none; float:left;width:100%;"">
	<table cellpadding="7" cellspacing="7" border="0" style="width:100%;">
	<tr style="background:#F3F3F3;"><td style="line-height:20px;">
	<strong>Question 1</strong> : How much equipment a lab can add?</td></tr>

	<tr><td style="line-height:20px;">
	<strong>Answer </strong> : As much as he can,right now there is not any limitation.</td></tr>

	<tr style="background:#F3F3F3;"><td style="line-height:20px;">
	<strong>Question 2</strong> : Can a user sell a equipment?</td></tr>

	<tr><td style="line-height:20px;">
	<strong>Answer </strong> : Yes,he can sell or can give the equipment on rent,he can view all the equipment that was sold and on rented in his profile/my account section.</td></tr>
	</table>
	</div>
</div>
<div class="Faq7">

    <div class="collapsmain imgdrop " id="i3" alt="Image"  >
    <h2>Basic of event and ticketing</h2>
    </div>
	<div id="uppi3" class="Text1" style="padding-bottom:8px; display: none; float:left;width:100%;"">
	<table cellpadding="7" cellspacing="7" border="0" style="width:100%;">
	<tr style="background:#F3F3F3;"><td style="line-height:20px;">
	<strong>Question 1</strong> : Can a lab add events?</td></tr>

	<tr><td style="line-height:20px;">
	<strong>Answer </strong> : Yes, lab can add events.</td></tr>
	</table>
	</div>
</div>
<div class="Faq8">

    <div class="collapsmain imgdrop " id="i4" alt="Image"  >
    <h2>How faraday finder for research and development?</h2>
    </div>
	<div id="uppi4" class="Text1" style="padding-bottom:8px; display: none; float:left;width:100%;"">
	<table cellpadding="7" cellspacing="7" border="0" style="width:100%;">
	<tr style="background:#F3F3F3;"><td style="line-height:20px;">
	<strong>Question 1</strong> : How FaradayFinder(FF) helpful?</td></tr>

	<tr><td style="line-height:20px;">
	<strong>Answer </strong> : Faraday Finder’s mission is to find and bring together the great minds of our time towards an accelerated exploration of the universe.</td></tr>

	<tr style="background:#F3F3F3;"><td style="line-height:20px;">
	<strong>Question 2</strong> : Can a university or industry register with faradayfinder?</td></tr>

	<tr><td style="line-height:20px;">
	<strong>Answer </strong> : Faraday Finder intends to conglomerate a vast number of research laboratories from university, public and industrial institutions. Searchable laboratory databases enable time efficiency improvements for prospective students at all levels searching to join a lab</td></tr>
	</table>
	</div>
</div>
</div>
<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>

</div>
{#<script type="text/javascript" language="javascript">#}
{#jQuery(document).ready(function(){#}
{#	jQuery('.imgdrop').each(function(i){#}
{#		jQuery(this).toggle(function(){#}
{#			jQuery(this).addClass("active");#}
{#			jQuery('#upp'+this.id).slideDown('slow')#}
{#			},function(){#}
{#			jQuery(this).removeClass("active");#}
{#			jQuery('#upp'+this.id).slideUp('slow')#}
{#		})#}
{#	})#}
{#});#}
{# </script>#}
<!--featured events-->
{% endblock %}
{% block sidebar %}{% endblock %}