{% extends "o/base.html" %}
{% block content %}
<!--left container-->
<div id="left_container">

<div class="content_outer">

<div class="entry_title"><h1><span>Forgot Password</span></h1>
 

</div>

<div class="common_block">
<!--top corner-->
<div class="top_corner"><span></span></div>
<!--top corner-->
 <form role="form" class="form-horizontal" method="post" action="/accounts/forgot-password/" name="forgot_password_request" id="forgot_password_request">
          {% csrf_token %}

<div class="box_mid_container">
<div class="forgot_password" style="width:507px; padding: 20px 0 30px 39px;">
<div class="float_left"><img src="/static/images/forgot_paswoed.png" alt="password"  style="padding: 0 20px 0 0"/></div>
<h2>Don't worry</h2>
<p>Enter your Email Address!</p>
<p>A mail for confirmation of password change&nbsp; will be sent your email id with a key for updating your password.</p>
<div class="float_left">
<span class="Redcolor" style="padding-left:145px;"></span>
<div class="clear">
    <span style="color: red; font-weight: bold; " id="error_email"></span>
    <p id="flush_message" style="color: green; font-weight: bold; ">{{ flush_message }}</p>
                {{ form.email }}
</div>

<div class="float_right">
    <span id="btn_submit"><input class="bluebutton" type="submit" value="Submit"></span>
</div>
</div>


</div>
</div>

</form>
<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>

</div>

</div>
<!--left container-->
{% endblock %}