{% extends "o/base.html" %}
{% block content %}

 <div class="content_outer">

<div class="entry_title"><h1><span>My account</span></h1>


</div>


<div class="common_block">
<!--top corner-->
 <div class="top_corner"><span></span></div>
<!--top corner-->

<div class="box_mid_container">
<div class="clear">

{% include "o/include/left_sidebar.html" %}

<div class="pic_right_block">
<div class=" tab">
 {% include "o/include/dashboard_menu.html" %}
</div>



<div class=" tab">
<div class="product_tab">
<ul>
    <li class="active"><a href="/my-labs/">created events</a></li>
    <li><a href="#">joined events</a></li>
</ul>

</div>
</div>




<div class="my_account_inmner" id="labs_joined">

{% if events %}
{% for event in events %}
<div class="listing_main">
<div class="img_block mrg_bot">
    {% if event.photo %}
  <img src="/media/{{ event.photo }}" alt="{{ event.name }}" title="{{ event.name }}" class="img-thumbnail" style="height: 120px; width:120px">
  {% else %}
      <div style="background-color: #cccccc; height: 150px; weight:150px" title="{{ event.name }}"></div>
  {% endif %}
</div>
<div class="lab_block">
<h1><a onclick="" href="#">{{ event.name }}</a></h1>
<p>({{ event.lab }})</p>
{#<p>1 Member<br>#}
{#PO Box 1127#}
{#Caboolture#}
{#QLD,#}
{#Australia&nbsp;&nbsp;4510<br>#}
<a onclick="" href="/event/view/{{ event.id }}">read more</a> &nbsp;&nbsp;<a onclick="" href="/event/edit/{{ event.id }}">edit event</a>

</p>

<div class="pad_bot"></div>
</div>
</div>
    {% endfor %}
{% else %}
  <p>You have not created any event yet.</p>
{% endif %}



</div>

</div>


</div>

<div class="clear"></div>
</div>

<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>

</div>
<!--featured labs-->
{% endblock %}
{% block sidebar %}{% endblock %}