{% extends "o/base.html" %} {% block content %}

<!--left container-->
	<!-- <div id="left_container"> --> 

	<div class="content_outer">
		<div class="entry_title">
			<h1>
				<span>My Jobs</span>
			</h1>
		</div>
		<div class="common_block">
			<!--top corner-->
			<div class="top_corner">
				<span></span>
			</div>
			<!--top corner-->
			<div class="box_mid_container">
				<div class="clear">
{% include "o/include/left_sidebar.html" %}
                                     <div class="pic_right_block">
                                        <div class=" tab">
 {% include "o/include/dashboard_menu.html" %}
</div>


					<div class="my_account_inmner my-jobs" id="labs_joined">
						{% if jobs %} {% for job in jobs %}
						<div class="listing_main">
							<div class="lab_block">
								<h1>
									<a onclick="" href="/jobs/view/{{ job.id }}">{{ job.job_title }}</a>
								</h1>
								<p>{{ job.job_summary|truncatechars:330 }}</p>
								<p>
									<a onclick="" href="/jobs/view/{{ job.id }}">read more</a> <!-- &nbsp;&nbsp;<a onclick="" href="/jobs/edit/{{ job.id }}">edit job</a> -->
								</p>
	
								<div class="pad_bot"></div>
							</div>
						</div>
						{% endfor %} {% else %}
						<p>You have not created any job yet.</p>
						{% endif %}
	
					</div>
	
					</div>

				</div>
                                </div>

				<div class="clear"></div>
			</div>
		<!--bot corner-->
		<div class="bot_corner">
			<span></span>
		</div>
		<!--bot corner-->
	</div>

<!-- </div> -->
<!--featured labs-->
{% endblock %}
{% block sidebar %}{% endblock %}
