{% extends "o/base.html" %}
{% block content %}
<!--left container-->
<div id="left_container">

<div class="content_outer">

<div class="entry_title"><h1><span>{{ object.name }}</span></h1>
 

</div>

<div class="common_block">
<!--top corner-->
<div class="top_corner"><span></span></div>
<!--top corner-->
 <form role="form" class="form-horizontal" method="post"  name="object_password_check" id="object_password_check">
          {% csrf_token %}

<div class="box_mid_container">
<div class="forgot_password" style="width:507px; padding: 20px 0 30px 39px;">
<div class="float_left"><img src="/static/images/forgot_paswoed.png" alt="password"  style="padding: 0 20px 0 0"/></div>
<h2>This {{ ObjectType}} is password protected</h2>
<p>Please enter {{ ObjectType}} password to access.</p>
<div class="float_left">
<span class="Redcolor" style="padding-left:145px;"></span>
<div class="clear">
    <span style="color: red; font-weight: bold; " id="error_password"></span>
    <p id="flush_message" style="color: red; font-weight: bold; "></p>
    <input class="inut_bj" name="password" placeholder="Enter password" type="password">
    <input  name="object_type" id="object_type" type="hidden" value="lab">
    <input  name="object_id" id="object_id" type="hidden" value="{{ object.id }}">

</div>

<div class="float_right">
    <span id="btn_submit_object_verify"><input class="bluebutton" type="submit" value="Submit"></span>
</div>
</div>


</div>
</div>

</form>
<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>

</div>

</div>

<!--left container-->
{% endblock %}