{% extends "o/base.html" %}
{% block content %}

<!--left container-->
<div id="left_container">
<div class="content_outer">
<div class="entry_title"><h1><span>Reset your password</span></h1>
<div class="right_contant">
You must fill the <span>*</span> required fields</div>
</div>
<div class="common_block">
<!--top corner-->
<div class="top_corner"><span></span></div>
<!--top corner-->
<div class="box_mid_container">
 <form role="form" class="form-horizontal" method="post"  name="forgot_password_reset" id="forgot_password_reset">
    {% csrf_token %}
    <div class="clear">
    <p style="padding-top:10px;">
    <span  id="error_password" style="color: red; font-weight: bold"></span>
    <span  id="error_confirm_password" style="color: red; font-weight: bold"></span>
    <span  id="flush_message" style="color: red; font-weight: bold">{{ flush_message }}</span>
    </p>
    <div class="from">
    <span class="Redcolor"></span>
    <div class="form_content fullwidth">
    <label>Password: <span>*</span></label>
    {{ form.password }}
    </div>
    <div class="form_content">
    <label>Confirm password: <span>*</span></label>
    <span class="label label-danger" id="error_password"></span>
     {{ form.confirm_password }}
    </div>
    </div>
    <div class="common_block pad_t15">
    <div id="btn_submit"><input type="submit" value="Submit" class="bluebutton" /></div>
    </div>
    </div>
</form>
<div class="clear"></div>
</div>
<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>
</div>
</div>
<!--left container-->
{% endblock %}