{% extends "o/base.html" %}
{% block content %}

<!--midder container-->
<!-- <div class="midder_content"> -->
	<div id="left_container">

		<div class="content_outer">

			<div class="common_block">
				<!--top corner-->
				<div class="top_corner">
					<span></span>
				</div>
				<!--top corner-->

				<div class="box_mid_container">
					<div class="clear">

						<div class="pic_box">
							<div class="common_block"><img src="/static/images/fraday_pic.png" alt="left" />
							</div>
							<div class="search_block">
								<h2>search faraday finder </h2>
								<form method="get" action="" name="search-lab">
									<input type="hidden" name="searching" value="searching" />
									<input name="search" type="text" class="search_bg"  onblur="if(jQuery('#search').val()=='') jQuery('#search').val('enter your keyword');" onfocus="jQuery('#search').val('');" id="search" value="{% if request.GET.search == "" %} enter your keyword {% else %} {{request.GET.search}} {% endif %}" size="32" maxlength="128" />
									<select name="sort_by" class="search_bg" style="width:137px;float:left;">
										<option value=""> - Sort by - </option>
										<option value="job_title" {% if request.GET.sort_by == "job_title" or request.GET.sort_by == "" %}selected="selected"{% endif %} >Name</option>
										<option value="job_summary" {% if request.GET.sort_by == "job_summary" %}selected="selected"{% endif %} >Summary</option>
									</select>
									<div style="float:right; margin-right:45px;" class="Text11">
										<input name="sort_type" type="radio" value="asc" {% if request.GET.sort_type == "asc" or request.GET.sort_type == "" %}checked="checked"{% endif %} />
										Asc
										<input name="sort_type"  type="radio" value="desc" {% if request.GET.sort_type == "desc" %}checked="checked"{% endif %} />
										Desc
									</div>
									<div class="filter_search ">
										<label>Browse by</label>
										<div class="clear"><a href="/search/jobs/a/">A</a><a href="/search/jobs/b/">B</a><a href="/search/jobs/c/">C</a><a href="/search/jobs/d/">D</a><a href="/search/jobs/e/">E</a><a href="/search/jobs/f/">F</a><a href="/search/jobs/g/">G</a><a href="/search/jobs/h/">H</a><a href="/search/jobs/i/">I</a><a href="/search/jobs/j/">J</a><a href="/search/jobs/k/">K</a><a href="/search/jobs/l/">L</a><a href="/search/jobs/m/">M</a><a href="/search/jobs/n/">N</a><a href="/search/jobs/o/">O</a><a href="/search/jobs/p/">P</a><a href="/search/jobs/q/">Q</a><a href="/search/jobs/r/">R</a><a href="/search/jobs/s/">S</a><a href="/search/jobs/t/">T</a><a href="/search/jobs/u/">U</a><a href="/search/jobs/v/">V</a><a href="/search/jobs/w/">W</a><a href="/search/jobs/x/">X</a><a href="/search/jobs/y/">Y</a><a href="/search/jobs/z/">Z</a>
										</div>
										<input type="submit" class="bluebutton clickherebut" value="Refine Your Search"  />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<!--bot corner-->
				<div class="bot_corner">
					<span></span>
				</div>
				<!--bot corner-->
			</div>

		</div>

		<div class="content_outer">

			<div class="common_block">
				<div class="entry_title fullblock">
					<h1><span>search result </span></h1>
					<ul class="tabs padr10">
						<li>
							<a href="/search/labs"><span>laboratories</span></a>
						</li>
						<li>
							<a href="#"><span>projects</span></a>
						</li>
						<li>
							<a href="#"><span>events</span></a>
						</li>
						<li>
							<a href="#"><span>equipments</span></a>
						</li>
						<li class="active">
							<a href="/search/jobs/"><span>jobs</span></a>
						</li>
					</ul>
				</div>
				<!--top corner-->
				<div class="top_corner">
					<span></span>
				</div>
				<!--top corner-->

				<div class="box_mid_container">

					<!--<div class="listing_main">
						<div class="img_block"><img src="/media/labs/2015/10/SOA_SideKick_8._UX264_SX264_V314755625_.jpg" alt="left" width="120px" height="100px"/>
						</div>

						<div class="lab_block">
							<h1><a href="#" onclick="">Bioenergy Plantations Australia</a></h1>
							<p>
								2 Member
								<br />
								PO Box 1127
								Caboolture
								QLD,
								Australia&nbsp;&nbsp;4510
								<br />
								<a href="#" onclick="">read more</a>
							</p>
							<a href="#" onclick="" class="join_button">Join us</a>
						</div>
					</div>

					<div class="listing_main">
						<div class="img_block"><img src="/media/labs/2015/10/SOA_SideKick_8._UX264_SX264_V314755625_.jpg" alt="left" width="120px" height="100px"/>
						</div>

						<div class="lab_block">
							<h1><a href="#" onclick="">Bioenergy Plantations Australia</a></h1>
							<p>
								2 Member
								<br />
								PO Box 1127
								Caboolture
								QLD,
								Australia&nbsp;&nbsp;4510
								<br />
								<a href="#" onclick="">read more</a>
							</p>
							<a href="#" onclick="" class="join_button">Join us</a>
						</div>
					</div>-->
					
					{% if jobs %} {% for job in jobs %}
					<div class="listing_main">
						<!-- <div class="img_block"><img src="/media/labs/2015/10/SOA_SideKick_8._UX264_SX264_V314755625_.jpg" alt="left" width="120px" height="100px"/> -->
						<div class="img_block"><img src="{% if job.lab.photo %}/media/{{job.lab.photo}}{% else %}/static/images/no-image.png{% endif %}" alt="left" width="120px" height="100px"/>
						</div>
						<div class="lab_block">
							<h1>
								<a onclick="" href="/jobs/view/{{ job.id }}">{{ job.job_title }}</a>
							</h1>
							<p>{{ job.job_summary|truncatechars:330 }}</p>
							<p>
								<a onclick="" href="/jobs/view/{{ job.id }}">read more</a>
								{% if user.is_authenticated %}
									&nbsp;&nbsp;<a onclick="" href="/jobs/edit/{{ job.id }}">edit job</a>
								{% endif %}
							</p>

							<a href="#" onclick="" class="join_button">Join us</a>
						</div>
					</div>
					{% endfor %} {% else %}
					<p>You have not created any job yet.</p>
					{% endif %}

				</div>

				<div class="bot_corner">
					<span></span>
				</div>
			</div>

		</div>
	<!-- </div> -->

</div>

{% endblock %}

