<!--footer-->
<div class="footer">
<div class="footer_inner">

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about-us/">About us</a></li>
  <li><a href="#">Projects</a></li>
  <li><a href="#">Labs</a></li>
  <li><a href="#">Events</a></li>
  <li><a href="/discussion-boards/">Discussion Board</a></li>
  <li><a href="/terms-and-conditions/">Terms and Conditions</a></li>
  <li><a href="/privacy-and-policy/">Privacy and Policy</a></li>
</ul>
<p>&copy; 2015 FaradyFinder All Rights Reserved</p>

</div>

</div>
<!--footer-->