<div class=" pic_block">
<div class="img_box" onclick="javascript: window.location=''" style="cursor: pointer">

{% if user.photo %}
    <img src="/media/{{ user.photo }}" title="{{ user.first_name }} {{ user.last_name }}" alt="" width="215px"/>
{% else %}
    <div style="height: 150px; background-color: teal"><img src="/static/uploads/727645738_1445666450_215-143.jpg" title="{{ user.first_name }} {{ user.last_name }}" alt=""/></div>
{% endif %}

</div>

<div class="clear">
<h1 class="fullname"><a href="/accounts/dashboard/">{{user.get_full_name}}</a></h1>
</div>
<div class="tab_nav">
<ul>
{#    <li><a href="/accounts/dashboard/">Overview</a></li>#}
{#    <li><a href="/labs-created/">My  Labs</a></li>#}
{#	<li><a href="/job-index/">Manage Jobs</a></li>#}
{#    <li><a href="/events-created/">My Events</a></li>#}
{#    <li><a href="/projects-created/">My Projects</a></li>#}
{#    <li><a href="/edit-profile/">Edit My Profile</a></li>#}
{#    <li><a href="/my-research-activity/">My Researchs</a></li>#}
{#    <li><a href="/my-quotation-scientist/">My Favorite</a></li>#}
    <li><a href="/accounts/dashboard">Overview</a></li>
    <li><a href="/my-labs">My Labs</a></li>
    <li><a href="/my-projects">My Projects</a></li>
    <li><a href="/my-events">My Events</a></li>
    <li><a href="/my-equipments">My Equipment</a></li>
    <li><a href="/my-jobs">My Posted Jobs</a></li>
    <li><a href="/messages/">My Inbox</a></li>
    <li><a href="/accounts/edit-profile">Edit My Profile </a></li>
</ul>
</div>
</div>

<div id="profile_image" title="Upload Profile Image">
    <div class="InnerPageLoginBlock">
	<div style="padding:5px 0px;" class="Redcolor" id="processing" align="left"><img id="loading" src="/static/images/dialogue-loder.gif" style="display:none;"></div>
	<form name="form" id="form" method="post" action="" enctype="multipart/form-data">
	<div class="Commanblock">
		<dl class="Contactusform">
		<dt>Please select your profile photo to upload<br /></dt>
		<dd style="margin:5px 0px 0px 0px;">
        <input id="fileToUpload" type="file"   name="fileToUpload" >
        </dd>
		</dl>
	</div>
	<div class="Colum1" style="padding:25px 0px 0px 0px;">
    <input type="button" class="bluebutton" value="Submit" onClick="return check_profile_pic();" style="width:64px;"/>
	<input type="button" class="cancel_but" value="Cancel" href="javascript:void(0);" onclick="jQuery('#profile_image').dialog('close');" style="width:64px;"/>
	</div>
	</form>
	 </div>
</div>
