    <div class="clear">
<div class="notification">
<div class="notification_left">
<ul>
    <li class="active" id="lab1">
    <a href="javascript:void(0);" onclick="ajxpage('ajax/ajx_lab_notification.php?lab_id=5','common_lab_page','fade','');lab_toggle_class(1);">Notifications</a></li>
    <li id="lab2">
    <a href="javascript:void(0);" onclick="ajxpage('ajax/ajx_lab_fyi.php?lab_id=5','common_lab_page','fade','');lab_toggle_class(2);">FYI</a></li>
    <li id="lab3">
    <a href="javascript:void(0);" onclick="ajxpage('ajax/ajx_lab_faq.php?lab_id=5','common_lab_page','fade','');lab_toggle_class(3);">Faq</a></li>
    <li id="lab4">
    <a href="javascript:void(0);" onclick="ajxpage('ajax/ajx_lab_publication.php?lab_id=5','common_lab_page','fade','');lab_toggle_class(4);">Publications</a></li>
    <li id="lab5">
    <a href="javascript:void(0);" onclick="ajxpage('ajax/ajx_lab_patent.php?lab_id=5','common_lab_page','fade','');lab_toggle_class(5);">Patents</a></li>
    <li id="lab6">
   <a href="javascript:void(0);" onclick="ajxpage('ajax/ajx_lab_publicity.php?lab_id=5','common_lab_page','fade','');lab_toggle_class(6);">Publicity</a></li>
   <li id="lab7">
<a href="javascript:void(0);" onclick="ajxpage('ajax/ajx_lab_equipment.php?lab_id=5','common_lab_page','fade','');lab_toggle_class(7);">Equipment</a></li>
    <li id="lab8">
    <a href="javascript:void(0);" onclick="ajxpage('ajax/ajx_lab_file.php?lab_id=5','common_lab_page','fade','');lab_toggle_class(8);">Files</a></li>
    <li id="lab9">
    <a href="javascript:void(0);" onclick="ajxpage('ajax/ajx_lab_event.php?lab_id=5','common_lab_page','fade','');lab_toggle_class(9);">Events</a></li>
    <li id="lab10">
   <a href="javascript:void(0);" onclick="ajxpage('ajax/ajx_lab_member.php?lab_id=5','common_lab_page','fade','');lab_toggle_class(10);">Members</a></li>

</ul>
</div>

<div class="notification_right" id="common_lab_page">
<script type="text/javascript">ajxpage('ajax/ajx_lab_notification.php?lab_id=5','common_lab_page','fade','');</script>
</div>

</div>
</div>
</div>