<div id="menuh-container">
<div id="menuh">
	<ul>
		<li  style="border:none;">
        <div class="icon">
        <a href="javascript:void(0);" class="website"  style="background-color:#F5F5F5;height:40px;"></a>
        <p style="color:#0000FF ">Websites</p>
        </div>

		</li>
	</ul>

	<ul>
		<li  style="border:none;">
        <div class="wijipiedia">
        <a href="javascript:void(0);" class="wikipidiya" style="background-color:#F5F5F5;height:40px;"></a>
        <p>Wikipedia</p>
        </div>

        </li>
	</ul>

	<ul>
		<li style="border:none;">
        <div class="youtube">
        <a href="javascript:void(0);" class="you_tube" style="background-color:#F5F5F5;height:40px;"></a>
        <p>You Tube</p>
        </div>

        </li>
	</ul>

</div> 	<!-- end the menuh-container div -->
</div>