<div id="right_container">

<div class="content_outer">

<div class="entry_title"><h1><span>follow&nbsp;us</span></h1>


</div>

<div class="common_block">
<!--top corner-->
<div class="top_corner"><span></span></div>
<!--top corner-->

<div class="box_mid_container">
<div class="clear">
<h4>Connect with us on a social network<br />
 and get the Latest News and Updates </h4>
<div class="icon_box">
<a href="http://www.facebook.com/faradayfinder" target="_blank" class=" facebook_icon"> </a>
<a href="http://www.twitter.com/faradayfinder" target="_blank" class="twitter_icon"></a>
<a href="" target="_blank" class="blooger_icon"></a>
<a href="http://www.reddit.com/user/faradayfinder/" target="_blank" class="reddit_icon"></a>
</div>
</div>


</div>

<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>

</div>

<div class="content_outer">

<div class="entry_title"><h1><span>other information </span></h1>


</div>

<div class="common_block">
<!--top corner-->
<div class="top_corner"><span></span></div>
<!--top corner-->

<div class="box_mid_container">
<div class="clear">
<a href="mailto:info@faradayfinder.com" class="msg_icon">info@faradayfinder.com</a>
<a href="mailto:zachary.wach@gmail.com" class="msg_icon">zachary.wach@gmail.com</a>
<div class="ph_icon"></div>
<p>
US 1800-200-600<br />
US 1800-200-601</p>

</div>

</div>

<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>

</div>

</div>