<!--right container-->
<div id="right_container">

<div class="content_outer">

<div class="entry_title fullblock"><h1><span>featured</span></h1>
<ul class="tabs">
    <li id='first_1'  onclick="javascript:toggleFgClass('first_1');"><a href="#"><span>laboratories</span></a></li>
    <li id='second_2' onclick="javascript:toggleFgClass('second_2');"><a href="#"><span>projects</span></a></li>
    <li id='third_3'  onclick="javascript:toggleFgClass('third_3');"><a href="#"><span>events</span></a></li>
</ul>
</div>

<div class="common_block">
<div class="box_mid_container" id="common_fg_right">
<script type="text/javascript">toggleFgClass('first_1')</script>
</div>
<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>

</div>

<div class="content_outer">

<div class="entry_title"><h1><span>follow&nbsp;us</span></h1>


</div>

<div class="common_block">
<!--top corner-->
<div class="top_corner"><span></span></div>
<!--top corner-->

<div class="box_mid_container">
<div class="clear">
<h4>Connect with us on a social network<br />
 and get the Latest News and Updates </h4>
<div class="icon_box">
<a href="#" target="_blank" class=" facebook_icon"> </a>
<a href="#" target="_blank" class="twitter_icon"></a>
<a href="#" target="_blank" class="blooger_icon"></a>
<a href="#" target="_blank" class="reddit_icon"></a>
</div>
</div>


</div>

<!--bot corner-->
<div class="bot_corner"><span></span></div>
<!--bot corner-->
</div>

</div>

</div><!--right container-->